---
title: "Authors"
layout: default
permalink: "/authors-list.html"
---

<div class="container">
<h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>
    <div class="row gap-y listrecent listrecent listauthor">
    {% for author in site.authors %}
        <div class="col-lg-6 mb-4">
            <div class="p-4 border rounded">
            <div class="row">
            <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ author.ilham.name }}" src="https://impwriter.github.io/assets/images/avatar3.png" class="rounded-circle" height="80" width="80"></div>
            <div class="col-md-9">
            <a href="{{site.baseurl}}/author-{{ author.ilham.name | slugify }}">
            <h4 class="text-dark mb-0"> {{ author.ilham.name }} </h4>
            <small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Posts)</small>
            <div class="excerpt">{{ author.ilham.bio }}</div>
            </a>
            <div class="icon-block mt-3 d-flex justify-content-between">  
            <div>
            <a target="_blank" href="{{ author.ilham.twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>  &nbsp;
            <a target="_blank" href="{{ author.ilham.site }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;
            </div>
            </div>
            </div>
            </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
